
# /app/Studifutter.xcodeproj/
/app/Studifutter.xcodeproj/xcuserdata
/app/Studifutter.xcodeproj/xcuserdata

# /app/Studifutter.xcodeproj/project.xcworkspace/
/app/Studifutter.xcodeproj/project.xcworkspace/xcuserdata
/app/Studifutter.xcodeproj/project.xcworkspace/xcuserdata
xcdebugger
